.accordion-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-title {
  width: 100%;
  padding: 1rem;
  background-color: var(--link-color);
  color: var(--background-color);
  border: none;
  text-align: left;
  font-size: var(--body-font-size-s);
  font-weight: 600;
  font-family: var(--body-font-family);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  position: relative;
  padding-right: 40px;
}

.accordion-title:focus {
  background-color: var(--link-hover-color);
}

.accordion-title::after {
  content: '+';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--heading-font-size-s);
  font-weight: bold;
  transition: transform 0.3s ease;
}

.accordion-title[aria-expanded="true"]::after {
  content: '-';
  transform: translateY(-50%) rotate(180deg);
}

.accordion-content {
  padding: 1rem;
  background-color: var(--light-color);
  border-radius: 0 0 5px 5px;
  font-size: var(--body-font-size-xs);
  color: var(--text-color);
}

@media (width >= 900px) {
  .accordion-title {
    font-size: var(--body-font-size-m);
  }

  .accordion-content {
    font-size: var(--body-font-size-s);
  }

  .accordion-title::after {
    font-size: var(--heading-font-size-m);
  }
}